@import "tailwindcss";

@theme {
  --color-delacroixBlue: #0A1D37;
  --color-delacroixGold: #D4AF37;
  --color-delacroixCream: #F5EDE0;
}

:root {
  --background: var(--color-delacroixCream);
  --foreground: var(--color-delacroixBlue);
}

body {
  @apply bg-[var(--background)] text-[var(--foreground)] font-sans;
}
